* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}


body {
    height: 100vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 130%;
    background-attachment: fixed;
    animation: backgroundScale 60s linear infinite;
    position: relative;
}

nav {
    display: flex;
    margin: 0;
    top: 0;
    /* top: -100%; */
    color: #555454;
    width: 100vw;
    position: fixed;
    /* padding: 25px 0; */
    height: 8vh;
    /* align-items: center; */
    justify-content: space-around;
    /* justify-content: space-between; */
    background: #c0c0aa;
    background: linear-gradient(to right,
        #c0c0aa, #1cefff);
    z-index: 6;
    /* border-bottom: 1px solid #9a9a9a; */
    /* background: linear-gradient(to right,
                #000000, #040c00); */
    background: linear-gradient(to right,
        #ADA996, #F2F2F2, #DBDBDB, #EAEAEA);
    transition: top 0.6s ease;
}

nav.off {
    top: -100%;
}

div.navLogo {
    display: flex;
    width: 21vw;
    /* justify-content: center; */
    align-items: center;
}

div.navLogo > a > img {
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    width: 90%;
}

ul.menu {
    position: relative;
    /* margin: 0; */
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.2rem;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}

ul.menu > li:hover {
    color: #000000;
    cursor: pointer;
    /* font-weight: 400; */
    margin-top: 10px;
    text-shadow: 0px 1px 1px rgba(52, 52, 52, 0.2);
}

header {
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

section {
    min-height: 120vh;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    min-height: 120vh;
    position: relative;
    z-index: 5;
}

footer {
    padding: 5% 0;
    min-height: 40vh;
    background-color: #000000;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.0);
    position: relative;
    transition: top 2s ease;
}

.flexRowWrapper {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.flexColumnWrapper {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageWrapper {
    display: flex;
    flex: 1;
    align-items: center;
}
.sectionTextHeader {
    margin-top: 10px;
    display: block;
    text-transform: uppercase;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    text-align: center;
    letter-spacing: 4px;
    font-size: 3rem;
    font-style: italic;
}

.sectionTextHeaderSmall {
    margin-top: 10px;
    display: block;
    text-transform: uppercase;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    text-align: center;
    letter-spacing: 4px;
    font-size: 2rem;
    font-style: italic;
}

.sectionTextContent {
    display: block;
    width: 50vw;
    font-size: 1rem;
    line-height: 1.8;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 2.5px;
    text-align: center;
    margin-bottom: 10px;
}

.sectionImage {
    margin-right: 50px;
    display: flex;
    float: left;
    width: 20vw;
    height: 20vw;
    background-size: cover;
}



.about {
    background-color: #050505;
    color: #FBE1A5;
    font-weight: 100;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 14%, rgb(0, 21, 48) 100%);
}

.whatWeDo {
    background-color: #000000;
    color: #000000;
    font-weight: 400;
    background: #ADA996;
    background: linear-gradient(to right,
        #ADA996, #F2F2F2, #DBDBDB, #EAEAEA);
}

.leaderboard {
    background-color: #050505;
    color: #FBE1A5;
    font-weight: 100;
    background: #000000;
    background: linear-gradient(to right,
        #000000, #040c00);
}

.leaderTier {
    justify-content: space-between;
    width: 80vw;
    height: 30%;
    justify-content: center;
    gap: 30px;

}

.leaderProfile {
    padding: 10px 0;
    width: 460px;
    height: 185px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 0;
}

.leaderDescription {
    display: flex;
    color: #d0b77b;
    padding: 0 0px;
    margin-left: -30px;
    width: 285px;
    height: 118px;
    font-family: "Roboto", serif;
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: 1.2px;
    background-color: #003131;
    border: 1px solid #5b5b5b;
    border-radius: 20px;
    align-items: center;
    background: rgb(0, 40, 5);
    background-color: #000000;
    background-image: linear-gradient(270deg, #000000 0%, #000800 100%);
}

span.white {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 2.5px;
}

.avatarWrapper {
    height: 118px;
    aspect-ratio: 1/1;
    justify-content:space-around;
    align-items: center;
    z-index: 2;
}

.leaderAvatar {
    margin-top: 12px;
    height: 100%;
    aspect-ratio: 1/1;
    background-image: url("img/leader1.jpg");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(70, 69, 69);
    border-radius: 20px;  
}

.leaderDescription > ul {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

.leaderRank {
    height: 35%;
    width: 80%;
    margin-top: -22%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.generalArmy {
    background-image: url("img/ranks/generalArmy.png");
}

.general {
    background-image: url("img/ranks/general.webp");
}

.lieutenantGeneral {
    background-image: url("img/ranks/lieutenantGeneral.png");
}

.majorGeneral {
    background-image: url("img/ranks/majorGeneral.png");
}

.colonel {
    background-image: url("img/ranks/colonel.webp");
}

.lieutenantColonel {
    background-image: url("img/ranks/lieutenantColonel.webp");
}

.major {
    background-image: url("img/ranks/major.webp");
}

.captain {
    background-image: url("img/ranks/captain.png");
}

.lieutenant {
    background-image: url("img/ranks/lieutenant.webp");
}

.chiefWarrantOfficer {
    background-image: url("img/ranks/chiefWarrantOfficer.png");
}

.warrantOfficer {
    background-image: url("img/ranks/warrantOfficer.png");
}

.sergeantMajor {
    background-image: url("img/ranks/sergeantMajor.png");
}

.masterSergeant {
    background-image: url("img/ranks/masterSergeant.png");
}

.staffSergeant {
    background-image: url("img/ranks/staffSergeant.png");
}

.sergeant {
    background-image: url("img/ranks/sergeant.png");
}

/* Separators */

hr.separatorLight {
    margin: 30px;
    border: 0;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

hr.separatorBlack {
    margin: 30px;
    border: 0;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

div.verticalSeparator {
    position: relative;
    height: 40vh;
    width: 1px;
    margin: 40px 0;
    background-color: #fff;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

div.verticalSeparatorBlack {
    position: relative;
    height: 50%;
    width: 1px;
    margin: 40px 0;
    background-color: #000000;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

div.backgroundPhotoSeparator {
    height: 120vh;
}

/* Background Photos */

body.bg1 {
    background-image: url('img/bg1.jpg');
}

body.bg2 {
    background-image: url('img/photo02.jpeg');
}

body.bg3 {
    background-image: url('img/photo01.jpeg');
}

body.bg4 {
    background-image: url('img/photo03.jpeg');
}

.historyPhoto {
    display: flex;
    width: 35vw;
    height: 20vw;
    background-size: cover;
}

.itcu1 {
    background-image: url("img/itcu1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ffffff;
    border-radius: 20px;
    animation: backgroundScale 60s linear infinite;
}

.itcu2 {
    background-image: url("img/itcu2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ffffff;
    border-radius: 20px;
    animation: backgroundScale 60s linear infinite;
}

.deltaGoldLogo {
    background-image: url("img/logo.png");
}

.majesticLogo {
    display: flex;
    justify-content: center;
}

svg.majestic {
    width: 20vw;
}

img.youtube {
    width: 20vw;
}

img.footer {
    display: flex;
    position: relative;
    width: 50%;
    aspect-ratio: 1/1;
}

.footerBox {
    display: flex;
    width: 20vw;
    height: 50vh;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 30px
}

p.footerCopy {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    color: #FBE1A5;
    text-transform: uppercase;
}

p.history {
    width: 80vw;
}

.logoDelta {
    height: 100vh;
    width: 90vw;
    background-image: url("img/logo-delta1.png");
    filter: invert(1);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: logoAnimation 1.5s;
}

.whatWeDoPhoto {
    margin: 50px;
    display: flex;
    width: 25vw;
    height: 90%;
}

.patrol1 {
    background-image: url("img/patrol1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ffffff;
    border-radius: 20px;
    animation: backgroundScale 60s linear infinite;
}

.videoPlayer {
    width: 60vw;
    aspect-ratio: 16 / 9;
    border: 1px solid #000000;
    border-radius: 20px;
}

.quote {
    font-style: italic;
    font-size: 3rem;
    font-weight: 100;
    color: #ff0000;
    text-shadow: rgb(0, 0, 0) 1px 0 2px;
}

.boxShadow {
    box-shadow: 0px 7px 15px -2px rgba(0, 0, 0, 0.75);
}

.sangLogo {
    height: 20vh;
    aspect-ratio: 1/1;
}

/* Animations */

.arrow {
    position: fixed;
    bottom: 10%;
    right: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    animation: arrowShow 1s;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 3s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes backgroundScale {
    0% {
        background-size: auto 130%;
    }

    50% {
        background-size: auto 160%;
    }

    100% {
        background-size: auto 130%;
    }
}

@keyframes logoAnimation {
    0% {
        height: 0vh;
        width: 0vw;

    }

    100% {
        height: 100vh;
        width: 90vw;
    }
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

@keyframes arrowShow {
    0% {
    bottom: 100%;
    right: 50%;
    }

    30% {
        bottom: 100%;
        right: 50%;
    }

    100% {
        bottom: 10%;
        right: 50%;
    }
}

.hide {
    width: 0;
    height: 0;
    opacity: 0;
}